.player {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  gap: 5px;
  &__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
    outline: none;
    width: 40px;
    height: 40px;
    border: 2px solid #00bc8c;
    border-radius: 50%;
    background: transparent;
    position: relative;
    transition: filter 0.2s;
    &:hover {
      filter: brightness(110%);
      &::after {
        // transform: scale(1.2) translateX(-35%) translateY(-40%);
      }
    }
  }
  &__timer-wrapper {
    width: 100%;
    position: relative;
  }
  &__start {
    position: absolute;
    left: 0;
  }
  &__end {
    position: absolute;
    right: 0;
  }
  &__timer {
    top: 8px;
    display: flex;
    width: 100%;
    font-size: 11px;
    color: #d3d3d3;
    position: relative;
  }
  &__volume {
    position: relative;
    display: block;
    position: relative;
    height: 4px;
    max-width: 50px;
    width: 100%;
    align-self: center;
    transition: filter 0.2s;
    &:hover {
      filter: brightness(110%);
    }
  }
  &__track {
    width: 100%;
    transition: filter 0.2s;
    &:hover {
      filter: brightness(110%);
    }
    &-wrapper {
      max-width: 80%;
    }
  }
}

.track {
  width: 100%;
  &-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
  }
}

.volume {
  width: 100%;
}
