$backgroundDark: #222;
$backgroundMedium: #303030;
$white: #fff;
$green: #008966;
$greenActive: #00bc8c;
$diskColorDefault: #444;
$borderDark: 1px solid #555;
$fontSerif: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$fontMonospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
