@use './variables' as *;
@use './disk';
@use './board';
@use './footer';
@use './menu';
@use './common';
@use './stage';
@use './playback';
@use './bird';
@use './player';
@use './range';
@use './quiz';

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

h2,
h3 {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  margin: 0;
  font-size: 1.40625rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h5 {
  font-size: 1.171875rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

html {
  margin: 0;
  padding: 0;
  font-family: generalFont;
}
body {
  margin: 0;
  padding: 0;
  background-color: $backgroundDark;
  font-family: $fontSerif;
  font-size: 15px;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .bird {
    &__info {
      margin: 0;
      max-width: 100%;
      text-align: center;
      gap: 10px;
    }
    &__img-wrapper {
      max-width: 200px;
      margin: 0 auto 25px;
      height: 155px;
      flex-shrink: 0;
    }
    &__head {
      max-height: fit-content;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.bird-logo img {
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}
