@use 'main';
@use 'range';
@use 'quiz';

.player {
  display: flex;
  // max-width: 500px;
  box-sizing: border-box;
  width: 100%;
  border: 1px gray solid;
  gap: 5px;
  &__volume {
    max-width: 50px;
  }
  &__track {
    width: 100%;
    &-wrapper {
      max-width: 80%;
    }
  }
}

.time {
  width: 100%;
}

.volume {
  width: 100%;
}

.range {
  &-wrapper {
    display: display-inline;
    width: 100%;
  }
}
