.bird__buffer {
  visibility: hidden;
}

.quiz {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  grid-template-areas:
    'head head'
    'player player'
    'list desc'
    'btn btn';
  grid-template-columns: 1fr 1fr;
  &--hide {
    .bird-item {
      visibility: hidden;
    }
    .bird__buffer {
      visibility: visible;
    }
  }

  &__head {
    width: 100%;
    grid-area: head;
  }
  &__list {
    display: flex;
    width: 100%;
    grid-area: list;
    flex-direction: column;
    justify-content: space-around;
  }
  &__item {
    cursor: pointer;
    padding: 5px;
  }
  &__player {
    width: 100%;
    grid-area: player;
  }
  &__desc {
    grid-area: desc;
  }
  &__btn {
    width: 100%;
    grid-area: btn;
  }
}

.bird {
  &__item {
    padding: 5px;
  }
  &__head {
    display: flex;
    max-height: 250px;
    overflow: hidden;
    gap: 5px;
  }
  &__info {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    max-height: 200px;
    height: 100%;
    object-fit: cover;
    &-wrapper {
      max-width: 50%;
      width: 100%;
      line-height: 0;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      max-height: 100%;
    }
  }
}
